<p>{{message}}</p><hr>
<p>Username: {{name}} <br /><hr>
can be found on Twitter at <a href="https://twitter.com/{{tweet}}"> {{tweet}}</a><br /><hr>
IG: <a href="https://www.instagram.com/{{insta}}"> {{insta}}</a><br /><hr>
Facebook: <a href="https://www.facebook.com/{{fb}}"> {{fb}}</a><br /><hr>
LinkedIn: <a href="https://www.linkedin.com/in/{{lnk}}"> {{lnk}}</a><br /><hr>
Youtube: <a href="https://www.youtube.com/channel/{{yt}}"> {{yt}}</a><br /><hr></p>
<p>{{endMessage}}</p>
